<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
	<title>CRUD</title>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body class="h-100 d-flex flex-column"
	style="background-color: #f4f4f4;">
	<div class="text-center pt-4 pb-4 mb-4 text-white"
		style="background-color: #001f3f;">
		<h1>Lista de contactos</h1>
	</div>
	<div class="container mb-4">
		<div class="row justify-content-end">
			<div class="12">
				<a th:href="@{/cerrarsesion}" class="btn btn-dark">Cerrar sesión
					<i class="fas fa-sign-out-alt"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="container rounded pt-5 pb-5 pl-5 pr-5 bg-white mb-5">
		<h2 th:if="${list.isEmpty()}" class="mb-5">Añada un contacto!</h2>
		<div th:if="${!list.isEmpty()}">
			<h3 class="text-right" th:if="${list.size()>1}">
				<span th:text="${list.size()}"></span> Contactos
			</h3>
			<h3 class="text-right" th:if="${list.size()==1}">
				<span th:text="${list.size()}"></span> Contacto
			</h3>
			<table class="table table-striped table-hover table-responsive-sm">
				<thead style="background-color: #001f3f;" class="text-white">
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Direccion</th>
						<th>Telefono</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contacto : ${list}">
						<td th:text="${contacto.nombre}">
						<td th:text="${contacto.apellido}">
						<td th:text="${contacto.direccion}">
						<td th:text="${contacto.telefono}">
						<td><a class="btn btn-primary"
							th:href="@{/save/{id}(id=${contacto.id})}">Editar</a></td>
						<td><a class="btn btn-danger"
							th:href="@{/delete/{id}(id=${contacto.id})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<a href="/save/0" class="btn btn-success">Añadir</a>
		</div>
	</div>
	<footer class="footer mt-auto py-2 text-center"
		style="background-color: #001f3f;">
		<div class="container">
			<span class="text-white"><i class="fas fa-code"></i> CRUD
				realizado en Java con Spring-Framework, Hibernate y PostgreSQL <i
				class="fas fa-code"></i> Diego Becerra <i class="fas fa-code"></i>
				becerradiego94@gmail.com <i class="fas fa-code"></i> 2019</span>
		</div>
	</footer>

</body>

</html>