<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	style="min-height: 100vh;">

<head th:replace="fragments/layout :: head"></head>
<meta charset="UTF-8"/>
<body
	style="background-color: #f4f4f4; min-height: 100vh; display: flex; flex-direction: column;">
	<header th:replace="fragments/layout :: header"></header>
	<main style="flex: 1 0 auto;" class="valign-wrapper">
		<div class="container center-align">
			<div class="row">
				<div class="col s12 m6 offset-m3 xl4 offset-xl4">
					<div class="card large darken-1 z-depth-4">
						<div class="card-content">
							<i class="fas fa-user-circle fa-4x teal-text text-darken-4"></i>
							<h4 style="font-family: 'Maven Pro', sans-serif"
								class="teal-text text-darken-4">Crear cuenta</h4>
						</div>
						<div class="card-content">
							<form class="" th:action="@{/registro}" method="post">
								<div class="input-field">
									<i class="material-icons prefix">person_add</i> <input
										type="text" class="validate" id="username" name="username"
										required /> <label for="username"
										style="font-family: 'Josefin Slab', sans">Usuario</label>
								</div>
								<div class="input-field">
									<i class="material-icons prefix">lock</i> <input
										type="password" class="validate" id="password" name="password"
										required /> <label for="password" style="font-family: 'Josefin Slab', sans">Contraseña</label>
								</div>
								<div class="container">
									<div class="row">
										<button type="submit" style="font-family: 'Maven Pro', sans-serif"
											class="btn btn-large teal waves-effect waves-teal">
											Registrar <i class="material-icons right">send</i> 
										</button>
									</div>
								</div>
							</form>
							<div class="row right-align">
								<div class="col s12">
									<a href="/login" class="fuente-josefine">Iniciar sesion</a>
								</div>
							</div>

							<div th:if="${param.error}"
								class="alert alert-danger ml-3 mr-3 mt-3" role="alert">Usuario
								o contraseña invalidos!</div>
							<div th:text="${mensajeRegistro}"
								th:classappend="'alert-'+${clase}" class="alert ml-3 mr-3 mt-3"
								role="alert"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="fragments/layout :: footer"></footer>
</body>

</html>