<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" style="height:100vh;">

<head th:replace="fragments/layout :: head">
</head>

<body style="background-color:#f4f4f4; height:100vh; display:flex; flex-direction: column;">
	<header th:replace="fragments/layout :: header">
	</header>
	<main style="flex: 1 0 auto">
		<div class="container">
			<h1 th:text="*{accion}"></h1>
		</div>
		<div class="container">
			<form action="#" th:action="@{/save}" th:object="${contacto}" method="post">
				<div class="input-field">
					<input type="text" id="nombre" th:field="*{nombre}" name="nombre">
					<label for="nombre"> Nombre</label>
				</div>
				<input type="hidden" th:field="*{id}" name="id" id="id">
				<div class="input-field">
					<input type="text" id="apellido" th:field="*{apellido}" name="apellido">
					<label for="nombre"> Apellido</label>
				</div>
				<div class="input-field">
					<input type="text" class="form-control" id="direccion" th:field="*{direccion}" name="direccion">
					<label for="nombre"> Direccion</label>
				</div>
				<div class="input-field">
					<input type="text" id="telefono" th:field="*{telefono}" name="telefono">
					<label for="nombre"> Telefono</label>
				</div>
				<button type="submit" class="btn">Guardar <i class="material-icons right">check</i> </button>
			</form>
		</div>
	</main>
	<footer tH:replace="fragments/layout :: footer">
	</footer>
</body>

</html>